.addPost_container {
    height: 70px;
    padding-top: 25px;
    /*Внутренний отступ сверху*/

}

.addPost {
    display: flex;
    column-gap: 5px;
    margin: 0 auto;
    /* Выровнять по ширине */
    /* width: fit-content;
    Ширина в зависимости от контента */
    width: 60%;
    justify-content: space-between;
}

.addPost input {
    width: 400px;

}

.addPost input:focus {
    background-color: #262626;
    color: white;
}

.addPost button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.addPost button:hover {
    background-color: #262626;
    border: 2px solid grey;
    color: white;
}

@media (max-width:1050px) {
    .addPost input {}
}