* {
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(30deg, black, white); */
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'h h'
    'n c';
  gap: 15px;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
  grid-template-rows: 1fr 11fr;
}

.content {
  grid-area: c;
  background-color: #262626;
  color: white;
}

.navbar {
  grid-area: n;
  background-color: #262626;
  color: white;
}

.header {
  grid-area: h;
  background-color: #e6e8ea;
  height: 80px;
}